<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Tóp Tóp Phim.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>TopTopPhim.TopTopPhim</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: ducanhgta@icloud.com (D47545D868)</string>
		<key>Team</key>
		<string>G5JS7F2M9W</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-06-07T01:59:33Z</date>
	<key>Name</key>
	<string>Tóp Tóp Phim</string>
	<key>SchemeName</key>
	<string>Tóp Tóp Phim</string>
</dict>
</plist>
